
  /*SKILLS TAB*/
  .html {
    width: 60%;
    background: #5cbce8cd;
    position: relative;
  }
  .move{
    animation: move1 2s;
  }
  @keyframes move1 {
    0%   {width: 0%;}
    100% {width: 60%;}
  }

  .css {
    width: 45%;
    background: #5cbce8cd;
    position: relative;
  }
  .move2{
    animation: move2 2s;
  }
  @keyframes move2 {
    0%   {width: 0%;}
    100% {width: 45%;}
  }

  .js {
    width: 35%;
    background: #5cbce8cd;
    position: relative;
  }
  .move3{
    animation: move3 2s;
  }
  @keyframes move3 {
    0%   {width: 0%;}
    100% {width: 35%;}
  }


  
  .cpp {
    width: 80%;
    background: #5cbce8cd;
    position: relative;
  }
  .move4{
    animation: move4 2s;
  }
  @keyframes move4 {
    0%   {width: 0%;}
    100% {width: 80%;}
  }

  .python {
    width: 75%;
    background: #5cbce8cd;
    position: relative;
  }
  .move5{
    animation: move5 2s;
  }
  @keyframes move5 {
    0%   {width: 0%;}
    100% {width: 75%;}
  }
  .typescript, .react { 
    position: relative;
    background: #5cbce8cd;
    animation: learning-bar 2s linear infinite;
  }

  @keyframes learning-bar {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:65%;
      width:40%;
    }
    90% {
      right:0%;
      left:65%;
      width:40%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }

.html, .css, .js, .python, .cpp, .typescript, .react {
  height: 40px;
}









  /*ACCORDION TO SHOW PROJECTS EASIER*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.open, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.open:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #f9f9f9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

